<!doctype html>

<html >
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script >

    function doLike(Id,c,like){
        if(like==1) {
            $.get(
                '/board/commu_like',
                {
                    id: Id
                }
            )


            var targ = document.getElementById("like");
            var cnt = parseInt(c);
            var btn=document.getElementById("like_b");
            btn.disabled='true';
            $(targ).empty().append(cnt + 1);


        }
        if(like==3){
            alert('이미 좋아요한 게시물이에요!')
        }
        if(like==2){
            alert('로그인해주세요')
        }
    }

</script>
<head th:replace="fragments/common :: head('자유게시판')">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="fragments/common :: menu(${title})"></nav>

<main class="container">
 <div th:object="${board}">

   <div th:text="${board.title}"></div>
   <div th:text="${board.content}"></div>


 </div>


    <span th:if="(${session.loginMember}!=NULL and ${session.loginMember.role == T(com.board.board.constant.Role).ADMIN})or (${board.member}!=NULL and ${session.loginMember}!=NULL and ${session.loginMember.id==board.member.id})">

    <a type="button" class="btn btn-warning" th:href="@{/board/commu_form(id=${board.id})}">수정</a>
    <a name="like" type="button" class="btn btn-warning" th:href="@{/board/commu_delete(id=${board.id})}">삭제</a>
    </span>
   <!-- <a type="button" class="btn btn-warning" th:href="@{/board/commu_like(id=${board.id})}" th:text="|좋아요 ${board.like}|">좋아요</a> -->

    <button id="like_b"  th:onclick="|doLike('${board.id}','${board.like}','${like}')|" class="btn btn-warning">좋아요
        <span id="like" th:text=" ${board.like}"></span></button>
    <span class="nav-item me-2" th:if="${session.loginMember != null}">
        <a type="button" class="btn btn-warning" th:href="@{/members/scrap(id=${board.id})}">스크랩</a>
    </span>
    </br></br></br>



    <div class="card-header bg-light">
        <i class="fa fa-comment fa"></i> 댓글
    </div>
    <div class="card-body" th:each="comment : ${comments}" >
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span th:text="${comment.content}"></span>
                <div class="card-header bg-light">
                    <i class="fa fa-comment fa"></i> 대댓글</div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <span th:each="recomment:${comment.Recomments}">

                            <span th:text="${recomment.content}"></span>

                             </span>
                          </li>
                 </ul>
            </li>
        </ul>

        <form th:action="@{/board/commu/recomment/(id=${comment.id},contentId=${board.id})}" method="post" onsubmit="return commentCheck(this);">
            <div class="card-body" th:object="${recommentForm}" >
                <input type="text" class="form-control"  rows="3" th:field="*{content}" th:errorclass="field-error"></input>
                <div class="field-error" th:errors="*{content}" /></div>
            <button type="submit" >대댓글 등록</button>
        </form>
    </div>


</main>



<script>

    function commentCheck(form){
        if(form.content.value.length==0){
            alert("댓글을 입력해 주세요");
            return false;
        }
        else{
          return true;
        }
    }
</script>
<form th:action="@{/board/commu/comment(id=${board.id})}"th:object="${commentForm}" method="post" onsubmit="return commentCheck(this);">
<div class="card-header bg-light">
    <i class="fa fa-comment fa"></i> REPLY
</div>
<div class="card-body"  >
    <ul class="list-group list-group-flush">
        <li class="list-group-item">

            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{content}" th:errorclass="field-error"></textarea>
            <div class="field-error" th:errors="*{content}" />
            <button type="submit" >댓글 등록</button>
        </li>
    </ul>
</div>
</form>
</div>
<!--  <form action="" th:action="@{/board/commu_form}" th:object="${Form}" method="post">
    <input type="hidden" th:field="*{id}">

<div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" th:field="*{title}" th:errorclass="field-error"></textarea>
    <label for="title">제목</label>
     <div class="field-error" th:errors="*{title}" />
</div></br>-->


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>